.simulation-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .simulation-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
  }
  
  .simulation-button:hover {
    background-color: var(--hover-background-color);
  }
  
  .chart-container {
    margin-top: 20px;
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Ensure it matches the chart height */
  }
  
  blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }